body {
    background-image: url("assets/pexels-alizee-marchand-947845.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    background-color: #FAFFFD;
    opacity: 90%;

}

img{
    display: block;
    margin-right: auto;
}
nav{
    background-color: #333;
    overflow: hidden;
}

a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}

a:hover {
    background-color: #FAFFFD;
    color: #414242;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#hamburger {
    background-image: url(assets/menu.png);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    float: right;
    margin-top: 5px;
}

#mainform {
    background-color: #798491;
    height: 30%;
    width: 30%;
    float: none;
    margin-left: 35%;
    margin-right: 1fr;
    padding-bottom: 20px;
    opacity: 90%;

}


form{
    margin-top: 50px;
    padding-left: 100px;
    margin-left: 20%;
    margin-right: 50%;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 100%;
    color: #E7F1F4;
}

label {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}